<div class="flex-container">
  <div class="container single-container flex-child">
    <div class="row">
      {{#each itemImage}}
        <div class="col-sm-2">
          <img src="{{this.src}}" alt="" class="single-thumb" />
        </div>
      {{/each}}
    </div>
    <div class="row">
      {{#each itemSecondImage}}
        <div class="col-sm-2">
          <img src="{{this.src}}" alt="" class="single-thumb" />
        </div>
      {{/each}}
    </div>
  </div>
  <div class="flex-child">
    <aside class="product-description">
      {{#each itemDescription}}
        <h1>{{this.name}}</h1><br />
        <p>{{this.desc}}</p><br />
        <p>${{this.price}}</p>
      {{/each}}
      <br />
      <br />
      <br />
      <button type="button" class="buy-now-button">Buy Now</button><br /><br />
      <button type="button" class="add-to-cart-button addbtn">Add to Cart</button>
    </aside>
  </div>
</div>